/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (max-width: 1110px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .img1 {
        display: none;
    }
}